<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myshopper.repository.FridgeStateRepository">

    <resultMap type="com.example.myshopper.model.FridgeState" id="fridgeStateResult">
        <id column="fs.fridgeStateID" property="fridgeStateID"/>
        <result column="fs.fridgeName" property="nickname"/>
        <result column="fs.isActual" property="email"/>
        <result column="fs.password" property="password"/>
        <collection property="products" ofType="com.example.myshopper.model.CountedProduct" autoMapping="true">
            <result column="product"  property="" javaType="integer"/>
        </collection>
    </resultMap>

    <sql id="fridgeStateFields">
        fs.fridgeStateID,
        fs.fridgeName,
        fs.isActual
    </sql>
<!--    private int fridgeStateID;-->
<!--    private String fridgeName;-->
<!--    private boolean isActual;-->
<!--    private List<CountedProduct> products;-->

    <sql id="countedProductFields">
        cp.amount
    </sql>

    <sql id="productFields">
        p.productID,
        p.productName,
        p.price,
        p.price
    </sql>

    <insert id="createFridgeStateForNewUser" useGeneratedKeys="true">
        insert into fridge_states (fridge_name, actual, user_id)
        values ('actual', true, #{userID})
        <selectKey resultType="Integer" keyProperty="fridgeStateID" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <select id="getFridgeStateByID" resultMap="fridgeStateResult">
        select
        <include refid="fridgeStateFields"/>
        <include refid="countedProductFields"/>
        <include refid="productFields"/>
        from fridgeStates fs
        left join productStates ps on ps.fridgeStateID = fs.fridgeStateID
        left join products p on p.productID = fs.productID
        where fs.fridgeStateID = #{fridgeStateID}
    </select>

</mapper>