<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.example.myshopper.repository.FridgeStateRepository">

    <resultMap id="fridgeStateResult" type="com.example.myshopper.repository.model.FridgeStateEntity">
        <id column="fridge_state_id" property="fridgeStateID"/>
        <result column="fridge_name" property="fridgeName"/>
        <result column="actual" property="isActual"/>
        <result column="user_id" property="userID"/>
    </resultMap>

    <insert id="createFridgeStateForNewUser" useGeneratedKeys="true">
        insert into fridge_states (fridge_name, actual, user_id)
        values ('aktualna', true, #{userID})
        <selectKey resultType="Integer" keyProperty="fridgeStateID" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <insert id="createFridgeStateEntity" useGeneratedKeys="true">
        insert into fridge_states (fridge_name, actual, user_id)
        values (#{fridgeName}, #{isActual}, #{userID})
        <selectKey resultType="Integer" keyProperty="fridgeStateID" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <select id="getFridgeStateByID" parameterType="int" resultMap="fridgeStateResult">
        select * from fridge_states
        where fridge_state_id = #{fridgeStateID}
    </select>

    <select id="getActualFridgeStateByUserID" parameterType="int" resultMap="fridgeStateResult">
        select * from fridge_states
        where user_id = #{userID}
        and   actual = '1'
    </select>

    <select id="getFridgeStatesByUserID" parameterType="int" resultMap="fridgeStateResult">
        select * from fridge_states
        where user_id = #{userID}
    </select>

    <select id="getNotActualFridgeStatesByUserID" parameterType="int" resultMap="fridgeStateResult">
        select * from fridge_states
        where user_id = #{userID}
        and actual = '0'
    </select>

    <select id="getIsActualByStateId" parameterType="int" resultType="boolean">
        select actual from fridge_states
        where fridge_state_id = #{fridgeStateID}
    </select>

    <update id="updateFridgeStateEntity">
        update fridge_states set
                            fridge_name = #{fridgeName}
        where fridge_state_id = #{fridgeStateID}
    </update>

    <delete id="deleteFridgeStateEntity">
        delete from fridge_states
        where fridge_state_id = #{fridgeStateID}
    </delete>

    <delete id="deleteAllProductShoppingListEntities">
        delete from product_fridge_state
        where fridge_state_id = #{fridgeStateID}
    </delete>

</mapper>